extends layout

block scripts
	script.
		purchaseArr = "#{purchaseArr}";
		storageArr = "#{storageArr}";
		treasuriesArr = "#{treasuriesArr}";
	script(type='text/javascript' src='/js/purchaseItemAdd.js')
	
block content
	h3=purchase.description
	table
		thead
			tr
				th
					mtl.
						date
				th.odd
					mtl.
						supplier
				th
					mtl.
						treasury
				th.odd
					mtl.
						total_price
		tbody
			tr
				td.column-0=purchase.date
				td(class="column-1 odd")=purchase.supplier
				td(class="column-2 treasury")=purchase.treasury
				td(class="column-3 total_amount odd")=purchase.total_amount
	table.purchaseItemsTable
		thead
			tr
				th
					mtl.
						item
				th.odd
					mtl.
						amount
				th
					mtl.
						price
		tbody
			if purchase.items
				each item, i in purchase.items
					tr
						td(class="column-4 item").
							#{item.item}
						td(class="column-5 odd").
							#{item.amount}
						td.column-6.
							#{item.price}
						td
							form.remPurchItem(name="remPurchItem",method="post",action="/remPurchItem")
								input(type="hidden", name="purchase" value="#{purchase._id}")
								input(type="hidden", name="remId" value="#{item.item}")
								button#btnSubmit(type="submit") X
	.block
		h3 
			mtl.
				add_purchase_item
		form.addPurchItem(name="addpurchaseitem",method="post",action="/writedbpurchaseitem")
			.formSelectTitle
				mtl.
					item
			select(type="text", placeholder="item", name="item", id="item")
				each sitem, i in storage
					option(value="#{sitem._id}") #{sitem.title}
					
			input(type="text", placeholder="amount", name="amount", required)
			input(type="text", placeholder="price", name="price", required)
			input(type="hidden", name="purchase" value="#{purchase._id}")
			button#btnSubmit(type="submit") add
	.block
		h2 
			mtl.
				confirm_purchase
		form.confirmPurchase(name="confirmpurchase",method="post",action="/confirmpurchase", , onsubmit="return confirm('Are you sure you want to submit?')")
			input(type="hidden", name="pid" value="#{purchase._id}")
			button#btnSubmit(type="submit") submit
	p.
		<br>
		<a href="/storage">Go Back</a>