extends layout

block scripts
	script.
		storageItems = "#{storageItems}";
	script(type='text/javascript' src='/js/purchaseItemAdd.js')
	
block content
	h1=title
	table.purchase_items
		thead
			tr
				th.
					Položka
				th.
					Množství
				th.
					Nákupní cena
				th.
					Nákup
		tbody
			each item, i in items
				tr
					td.item_title
						#{item.storage_item}
					td.
						#{item.amount}
					td.
						#{item.price}
					td.
						#{item.purchase}
	.block
		h2 Add item to purchase
		form.addPurchItem(name="addpurchaseitem",method="post",action="/writedbpurchaseitem")
			select(type="text", placeholder="Položka", name="item", id="item")
				each sitem, i in storageIt
					option(value="#{sitem._id}") #{sitem.title}
			input(type="text", placeholder="Množství", name="amount")
			input(type="text", placeholder="Cena", name="price")
			input(type="hidden", name="purchase" value="#{id}")
			button#btnSubmit(type="submit") submit
	.block
		h2 Confirm purchase
		form.confirmPurch(name="confirmpurchase",method="post",action="/confirmpurchase")
			input(type="hidden", name="pid" value="#{id}")
			input(type="hidden", name="pdesc" value="#{title}")
			button#btnSubmit(type="submit") submit
	p.
		<br>
		<a href="/storage">Go Back</a>