extends layout
block scripts
	script.
		mirrorArr = "#{mirrorArr}";
		storageArr = "#{storageArr}";
		unitsArr = "#{unitsArr}";
		usersArr = "#{usersArr}";
		treasuriesArr = "#{treasuriesArr}";
	script(type='text/javascript' src='/js/mirrorTreasuryStat.js')

block content
	table
		thead
			tr
				th.mirrorDate
					mtl.
						date
				th(class="mirrorUser odd")
					mtl.
						user
				th.mirrorTreasury
					mtl.
						treasury
		tbody
			tr
				td(class="column-0 date")=mirror.date
				td(class="column-1 user odd")=mirror.user
				td(class="column-2 treasury")=mirror.treasury
	h3
		mtl.
			items_after_mirror
	table.mirrorItems
		thead
			tr
				th
					mtl.
						Item
				th.odd.
					mtl.
						Amount
		tbody
			each item, i in mirror.items
				tr
					td(class="column-3 textLeft title").
						#{item.id}
					td(class="column-4 odd").
						#{item.amount}
	h2
		mtl.
			treasury_status
	form.updMirrorTreasuryStaus(name="updMirrorTreasuryStaus",method="post",action="/updMirrorTreasuryStaus")
		input(type="text", placeholder="amount", name="amount", required)
		input(type="hidden", name="mirrorId" value="#{mirror._id}")
		button#btnSubmit(type="submit") submit