extends layout

block scripts
	script.
		mirrorArr = "#{mirrorArr}";
		storageArr = "#{storageArr}";
		unitsArr = "#{unitsArr}";
		usersArr = "#{usersArr}";
		treasuriesArr = "#{treasuriesArr}";
		debtsArr = "#{debtsArr}";
	script(type='text/javascript' src='/js/mirrorSummary.js')

block subnav
	#subnavBtn
		mtl.
			mirror_details	
	.subnav
		ul
			a(href="/mirror")
				li
					mtl.
						mirrors
			a(href="/debts")
				li
					mtl.
						debts
	
block content
	table
		thead
			tr
				th.mirrorDate
					mtl.
						date
				th(class="mirrorUser odd")
					mtl.
						user
				th.mirrorCorection
					mtl.
						corection
		tbody
			tr
				td(class="column-0 date")=mirror.date
				td(class="column-1 user odd")=mirror.user
				td(class="column-2 corection")
	table
		thead
			tr
				th.mirrorTreasury
					mtl.
						treasury
				th(class="mirrorTreasuryStat odd")
					mtl.
						treasury_status
				th.mirrorTreasuryStatBefore
					mtl.
						treasury_status_before
		tbody
			tr
				td(class="column-3 treasury")=mirror.treasury
				td(class="column-4 treasury_stat odd")=mirror.treasury_stat
				td(class="column-5 treasury_status_before")=mirror.treasury_status_before
	
	h3
		mtl.
			mirror_items
	table.mirrorItemsTable
		thead
				tr
					th
						mtl.
							item
					th.odd
						mtl.
							amount_before
					th
						mtl.
							amount
					th.odd
						mtl.
							diference
					th
						mtl.
							sold_rations
					th.odd
						mtl.
							sell_price
		tbody
			each item, i in mirror.items
				tr.item
					td(class="column-6 title").
						#{item.id}
					td(class="column-7 odd").
						#{item.amount_before}
					td.column-8.
						#{item.amount}
			tr
				td
					mtl.
						total_price
				td.totalItemsPrice
	h3
		mtl.
			mirror_debts
	table.mirrorDebtsTable
		thead
				tr
					th
						mtl.
							debtor
					th.odd
						mtl.
							amount
		tbody
			if(mirror.debts)
				each debt, i in mirror.debts
					tr
						td(class="column-13 debtor").
							#{debt.debtor}
						td(class="column-14 odd").
							#{debt.amount}
			tr
				td
					mtl.
						total_debts
				td.totalDebts
			
			
		
								