extends layout

block scripts
	script(type='text/javascript' src='/js/purchaseList.js')

block subnav
	#subnavBtn
		mtl.
			purchases
	.subnav
		
	#addBtn
		a(href="/purchase")
			img(src="/images/butAdd.png")


block content
	h1
		mtl.
			purchases
	table.purchasetable
		thead
			tr
				th
					mtl.
						description
				th.odd
					mtl.
						date
				th
					mtl.
						supplier
				th.odd
					mtl.
						total_price
		tbody
			each purchase, i in purchases
					tr(class="#{purchase._id}")
						td.column-0.
							#{purchase.description}
						td(class="column-1 odd").
							#{purchase.date}
						td.column-2.
							#{purchase.supplier}
						td(class="column-3 odd").
							#{purchase.total_amount}