extends layout
block scripts
	script.
		purchaseArr = "#{purchaseArr}";
		storageArr = "#{storageArr}";
		treasuriesArr = "#{treasuriesArr}";
	script(type='text/javascript' src='/js/purchaseDetails.js')
		
block subnav
	#subnavBtn
		mtl.
			purchase_details	
	.subnav
		ul
			a(href="/purchaselist")
				li
					mtl.
						purchases
		
block content
	h3=purchases.description
	table
		thead
			tr
				th
					mtl.
						date
				th.odd
					mtl.
						supplier
				th
					mtl.
						treasury
		tbody
			tr
				td.column-0=purchases.date
				td(class="column-1 odd")=purchases.supplier
				td(class="column-2 treasury")=purchases.treasury
	
	table.purchaseItemsTable
		thead
			tr
				th
					mtl.
						item
				th.odd
					mtl.
						amount
				th
					mtl.
						price
		tbody
			each item, i in purchases.items
				tr
					td(class="column-3 item").
						#{item.item}
					td(class="column-4 odd").
						#{item.amount}
					td.column-5.
						#{item.price}
			tr.summary
				td
					mtl.
						total_price
				td.
						
				td.
					#{purchases.total_amount}
	p.
		<br>
		<a href="/storage">Go Back</a>