extends layout

block scripts

block subnav


block content
	h1
		mtl=title
	table.purchasetable
		thead
			tr
				th
					mtl.
						description
				th
					mtl.
						date
				th
					mtl.
						supplier
				th
					mtl.
						total_price
		tbody
			each purchase, i in purchases
				tr
					td.
						#{purchase.description}
					td.
						#{purchase.date}
					td.
						#{purchase.supplier}
					td.
						#{purchase.total_amount}
			
	p.
		<br>
		<a href="/">Go Back</a>	

block sidebar
	.block
		h1 
			mtl.
				add_purchase
		form.addPurchase(name="addpurchase",method="post",action="/addpurchase")
			input(type="text", placeholder="description", name="description")
			input(type="text", placeholder="date", name="date")
			input(type="text", placeholder="supplier", name="supplier")
			select(type="text", placeholder="treasury", name="treasury", id="treasury")
				each treasury, i in treasuries
					option(value="#{treasury._id}") #{treasury.title}
			button#btnSubmit(type="submit") submit