extends layout

block scripts
	script.
		items = "#{itemsList}";
		storage = "#{storagejs}";
	script(type='text/javascript' src='/js/storage.js')
block subnav
	ul
		li <a href="/storage_items">Storage item</a>
		li <a href="/units">Units</a>

block content
	h1=title
	table.usertable
		thead
			tr
				th.
					Title
				th.
					Amount
		tbody
			each storage_item, i in storage
				tr
					td.title
						#{storage_item.title}
					td.
						#{storage_item.amount}
			
	p.
		<br>
		<a href="http://localhost:3000">Go Back</a>			