extends layout

block scripts
	script.
		items = "#{itemsList}";
		storage = "#{storagejs}";
	script(type='text/javascript' src='/js/storage.js')
	
block subnav
	.subnav
		ul
			li <a href="/storage_items"><mtl>storage_items</mtl></a>
			li <a href="/units"><mtl>units</mtl></a>

block content
	h1
		mtl=title
	table.usertable
		thead
			tr
				th
					mtl.
						title
				th
					mtl.
						amount
		tbody
			each storage_item, i in storage
				tr
					td.title
						#{storage_item.title}
					td.
						#{storage_item.amount}
			
	p.
		<br>
		<a href="/">Go Back</a>			